<!--

 -->
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    class="app-sidenav mat-elevation-z10"
    #sidenav
    [mode]="isScreenSmall ? 'over' : 'side'"
    [opened]="!isScreenSmall"
  >
    <mat-toolbar color="primary">
      <span>My Application</span>
    </mat-toolbar>

    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h1>Brand</h1>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/"> Catalogo prodotti </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/movies"> Catalogo film </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="product/nuovo"
                *ngIf="isAuthenticated"
              >
                Aggiungi un nuovo "film"
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth" *ngIf="!isAuthenticated">
                Authentication
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacts"> Contacts </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/carrello">
                Carrello
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-cart-plus-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"
                  />
                </svg>
                <!-- badge carrello -->
                <span class="badge bg-danger rounded-pill">
                  {{ (cart.items$ | async).length }}
                </span>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isAuthenticated">
              <a style="cursor: pointer" (click)="onLogout()">Logout</a>
            </li>

            <li>
              <a class="ml-auto p-2" *ngIf="isAuthenticated"
                >Email {{ userName }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
