<div class="flex-fill">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">
        {{ movie.overview | mySplit: 100:true }}
      </p>
      <button
        class="btn btn-info underline--magical"
        routerLink="/movie/{{ movie.id }}"
      >
        Dettaglio "Film"
      </button>
    </div>
  </div>
</div>
