<div class="flex-fill">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ product.thumbnailUrl }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>

      <button class="btn btn-info" (click)="add()">Aggiungi al carrello</button>
      <button class="btn btn-info" routerLink="/photos/{{ product.id }}">
        Dettaglio "Film"
      </button>
    </div>
  </div>
</div>
